<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>comSysto Monitoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
</head>
<body>

<div class="container">
<h1>Monitoring Status</h1>

<table class="table">
    <thead>
    <tr>
        <th>Site</th>
        <th>StatusCode</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="urlAndStatusCode: ${urlsAndStatusCodes}">
            <td th:text="${urlAndStatusCode.key}"></td>

            <td th:if="${urlAndStatusCode.value == 200}" >
                <span class="tag tag-success" th:text="${urlAndStatusCode.value}"></span>
            </td>

            <td th:if="${urlAndStatusCode.value == 302 or urlAndStatusCode.value == 301}" >
                <span class="tag tag-info" th:text="${urlAndStatusCode.value}"></span>
            </td>

            <td th:if="${urlAndStatusCode.value != 302 and urlAndStatusCode.value != 301 and urlAndStatusCode.value != 200}" >
                <span class="tag tag-danger" th:text="${urlAndStatusCode.value}"></span>
            </td>

        </tr>
    </tbody>
</table>
</div>
</body>
</html>