<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>comSysto Monitoring</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous" />
</head>
<body>

<div class="container-fluid">
<h1>Monitoring Status v.1.2.3</h1>


<div th:fragment="statusCode (_statusCode)">
    <span th:if="${_statusCode == 200}" class="tag tag-success" th:text="${_statusCode}"></span>
    <span th:if="${_statusCode == 302 or _statusCode == 301}" class="tag tag-info" th:text="${_statusCode}"></span>
    <span th:if="${_statusCode != 302 and _statusCode != 301 and _statusCode != 200}" class="tag tag-danger" th:text="${_statusCode}"></span>
</div>

<p>&nbsp;</p>

<h2>Normal Checks</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>HTTP Request Method</th>
        <th>Url</th>
        <th>Expected HTTP Status Code</th>
        <th>Actual HTTP Status Code</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="check: ${checks}">
            <td th:text="${check.name}"></td>
            <td th:text="${check.requestMethod}"></td>
            <td th:text="${check.url}"></td>
            <td>
                <div th:replace="::statusCode (${check.expectedStatusCode})">...</div>
            </td>
            <td>
                <div th:replace="::statusCode (${check.actualHttpStatusCode})">...</div>
            </td>
        </tr>
    </tbody>
</table>

<p>&nbsp;</p>

<h2>Redirect Checks</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>HTTP Request Method</th>
        <th>Url</th>
        <th>Expected HTTP Status Code</th>
        <th>Actual HTTP Status Code</th>
        <th>RedirectUrl</th>
        <th>Redirect Expected HTTP Status Code</th>
        <th>Redirect Actual HTTP Status Code</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="check: ${redirectChecks}">
        <td th:text="${check.name}"></td>
        <td th:text="${check.requestMethod}"></td>
        <td th:text="${check.url}"></td>
        <td>
            <div th:replace="::statusCode (${check.expectedStatusCode})">...</div>
        </td>
        <td>
            <div th:replace="::statusCode (${check.actualHttpStatusCode})">...</div>
        </td>

        <td th:text="${check.redirectToUrl}"></td>
        <td>
            <div th:replace="::statusCode (${check.redirectToUrlExpectedStatusCode})">...</div>
        </td>
        <td>
            <div th:replace="::statusCode (${check.redirectToUrlActualStatusCode})">...</div>
        </td>

    </tr>
    </tbody>
</table>
</div>
</body>
</html>
